* {
  font-family: Arial, Helvetica, sans-serif;
}

body{
  padding: 50px;
}

input{
  color: gray;
  font-size: 1.3rem;
  width: 100%;

}

.card-grid ol{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card{
  align-content: center;
  border: 1px solid gray;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
  text-align: center;
}

.card p{
  padding: 5px;
}

.card img{
  max-height: 170px;
}